<div class="image-modal-container">
  <div class="close-button">
    <button (click)="closeImageModal()">
      <mat-icon fontIcon="close" style="color: white;"></mat-icon>
    </button>
  </div>

  <div class="title">
    <h1>Selecciona la imagen de avatar para el usuario</h1>
  </div>

  <div class="image-modal-content">
    <div class="image-modal" *ngFor="let avatarFile of avatarImages; let i = index" [ngClass]="{'selected': selectedAvatar === i}" (click)="selectAvatar(i)">
      <img src="./../../../assets/user-avatar/{{avatarFile.name}}" alt="{{avatarFile}}"/>
    </div>
  </div>

  <div class="add-button">
    <button mat-flat-button color="accent" onclick="document.getElementById('fileInput').click()">
      <mat-icon aria-hidden="false" aria-label="add" fontIcon="add" style="color: rgb(0, 0, 0);"></mat-icon>
      Añadir nueva imagen de avatar
    </button>
    <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
  </div>
</div>
