
.form-container {
  padding: 5%;
  background-color: rgb(244, 244, 244);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 50vh;
}

.input-container {
  width: 100%;
}

.input-container mat-form-field {
  width: 100%;
  font-size: 0.8rem;
}

.button-container {
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 0.5rem;
}


.input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


//Adicional section style

.description {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid grey ;
}
.aditional-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
