.header{
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: white;
  margin-bottom: 2rem;
}

.content-container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 1rem;
}

.header h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(47, 47, 47);
}
