<div class="content-container" *ngIf="data != undefined">
  <div class="head-content">
    <div class="content-id">
      <p>
        Nº {{data.id}}
      </p>
    </div>
    <div class="controls">
      <button (click)="editData()">
        <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit" style="color: white;"></mat-icon>
      </button>
      <button (click)="deleteData()">
        <mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete" style="color: white;"></mat-icon>

      </button>
    </div>
  </div>
  <div class="name content">
    <p>
    <span>Nombre: </span>{{data.name}}
    </p>
  </div>
  <div class="surnames content">
    <p>
    <span>Apellidos: </span>{{data.surnames}}
    </p>
  </div>
  <div class="email content">
    <p>
    <span>Email: </span>{{data.email}}
    </p>
  </div>
  <div class="password content">
    <p>
      <span>Contraseña: </span>{{data.password}}
    </p>
  </div>
</div>
