* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  background-color: white;
  border-radius: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  margin-bottom:1rem;
}

.head-content {
  background-color: rgb(89, 89, 255);
  padding: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.content-id p {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}

.content {
  margin-left: 0.5rem;
}

.content p span {
  font-weight: 500;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.controls button{
  all: unset;
  cursor: pointer;
  transition: 100ms;
}

.controls button:hover {
  transform: scale(115%);
}
