<div class="content-container">
  <div class="head-content">
    <div class="content-id">
      <p>
        Nº 1
      </p>
    </div>
    <div class="controls">
      <button>
        <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit" style="color: white;"></mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete" style="color: white;"></mat-icon>

      </button>
    </div>
  </div>
  <div class="name content">
    <p>
    <span>Nombre: </span>Guillem
    </p>
  </div>
  <div class="surnames content">
    <p>
    <span>Apellidos: </span>Rivas Martorell
    </p>
  </div>
  <div class="email content">
    <p>
    <span>Email: </span>rivasmartorellguillem@gmail.com
    </p>
  </div>
  <div class="password content">
    <p>
      <span>Contraseña: </span>123
    </p>
  </div>
</div>
