<div class="search-tool-container">
    <form (keyup)="getfilterData()" [formGroup]="form">
      <div class="input">
        <mat-icon fontIcon="search" style="color: rgb(43, 113, 255)"></mat-icon>
        <input formControlName="data" type="text" placeholder="¿No encuentras la ficha que buscas? Escribe aquí el dato que te interesa."/>
      </div>
      <div>
        <select id="campo" name="campo" class="selector" formControlName="category">
            <option value="name" selected>Nombre</option>
            <option value="surnames">Apellidos</option>
            <option value="email">Email</option>
        </select>
      </div>
    </form>
</div>
